.element-shape-fill {
  fill: black;
  stroke: black;
}

.element-shape-fill-bottom {
  fill: white;
  stroke: white;
}

.svg {
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
}

.element-shape {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
}

.element-shape-top{
  top: -1px;
}

.element-shape-bottom{
  bottom: -1px;
  transform: rotate(180deg);
}

.h1 {
  text-align: center;
  font-weight: bold;
}

.background{
  background-color: white;
  color: black;
  padding: 0 0 20px 0;
  text-align: center;
}

.card-background{
  background-color: white;
  color: black;
  border-top: solid  black;
  border-bottom: solid  black;
  margin: 10px;
}

.card-footer{
  text-align: right;
  font-weight: bold;
  color: red;
}
